.card-link:hover {
  box-shadow: 20px 20px 80px -44px #000;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #b0c0b3;
  border: 8px solid #666666;
  margin: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  z-index: 999;
  visibility: visible;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  margin: 0.2rem;
  font-size: 1rem;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
}

button:hover {
  border: 1px solid #666666;
  background: #666666;
  color: #ffffff;
}

.close {
  display: flex;
  color: black;
  align-items: center;
  float: right !important;
}
